<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YES</title>
    <style>
        #map {
            height: 50%;
            padding-top: 10%;
            }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
<div id="map"></div>
<h2>Air Quality of the Location {{location}}</h2>
<h2 style="color:{{air_color}}">{{air_quality}}</h2>
<h2>Dominant Air Pollutant: {{air_pollutant}}</h2>
<form action="{{ url_for('hello') }}" method="GET">
    <input type= "hidden" name="lat" value="{{lat}}"/>
    <input type= "hidden" name="lng" value="{{lng}}"/>
    <input type= "hidden" name="air_quality" value="{{air_quality}}"/>
    <input type= "hidden" name="air_color" value="{{air_color}}"/>
    <input type= "hidden" name="landmark_type" value="{{type}}"/>
    <input type="submit" value="Search Address"/>
</form>
<script>
var marker;
var lat = {{lat}}
var lng = {{lng}}
var quality = "{{air_quality}}"
var map;
{% if list %}
    var list1 = {{list|tojson|safe}};
{% endif %}

function initMap() {
  var location = {lat: lat, lng: lng}
  map = new google.maps.Map(document.getElementById('map'), {
    zoom: 13,
    center: location
  });

  marker = new google.maps.Marker({
    icon: getColor(quality),
    map: map,
    draggable: true,
    animation: google.maps.Animation.DROP,
    position: location
  });

  var service = new google.maps.places.PlacesService(map);
  service.nearbySearch({
    location: location,
    radius: 2000,
    type: ['restaurant']
  }, processResults);
  }

function processResults(results, status, pagination) {
  if (status !== google.maps.places.PlacesServiceStatus.OK) {
    return;
  } else {
    createMarkers(results);

    if (pagination.hasNextPage) {
      var moreButton = document.getElementById('more');

      moreButton.disabled = false;

      moreButton.addEventListener('click', function() {
        moreButton.disabled = true;
        pagination.nextPage();
      });
    }
  }
}

function createMarkers(places) {
  var bounds = new google.maps.LatLngBounds();

  for (var i = 0, place; place = places[i]; i++) {
    var marker = new google.maps.Marker({
      map: map,
      icon: getColor(quality),
      title: place.name,
      position: place.geometry.location
    });
    }
    bounds.extend(place.geometry.location);
  }


function getColor(quality) {
    if (quality == "Fair Air Quality" | quality == "Moderate Air Quality"){
        return "http://maps.google.com/mapfiles/ms/icons/yellow-dot.png"
    }
    if (quality == "Low Air Quality" | quality == "Poor Air Quality"){
        return "http://maps.google.com/mapfiles/ms/icons/red-dot.png"
    }
    if (quality == "Excellent Air Quality"){
        return "http://maps.google.com/mapfiles/ms/icons/green-dot.png"
    }
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOxJUQ0_1sDIcYqTFHiu6YkxMQMFe1pDA&libraries=places&callback=initMap"
        async defer></script>
</body>
</html>